
  <h1> Welcome to DOT.NOTE!</h1>
    <h4>Here are your current Notebooks today:  </h4>

<div class="wrapper_with_padding">


    <% @notebooks.each do |notebook| %>
    	<% link_to notebook.title, notebook_path(@notebooks) %>
    	    <% end %>



</div>
			


