<div class="wrapper_with_padding">
	<h1> Edit Note</h1>
	
	<%= form_for @note do |f| %>
	<%= f.text_field :note_title%>
	<%= f.text_area :note_content%>
	<%= f.submit class:"button" %>
	<% end %>
</div>