<div class="wrapper_with_padding">
	

	<% if @note.errors.any? %>
	<ul>
		<% @note.errors.full_messages.each do |message| %>
		
		<li> <%= message %></li>
		<% end %>
	</ul>
	<%end %>


 <!-- if params.has_key?(:notebook_id)  -->
	<%= form_for @note do |f| %>
	
	<%= render partial: 'form', locals: {f: f} %>
	</div>
	<% end %>
	


