
$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$blue: #2f90d9;

@import "bootstrap";

@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;

}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-top: 1rem;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_with_padding {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	overflow: hidden;
	display: table;
}

.clearfix:after {
	overflow: hidden;
	clear: both;
}

button, .button {
	border: none;
	outline: none;
	background: $blue;
	padding: 1rem 3.5rem;
	border-radius: 2rem;
	a {
		color: white;
		text-decoration: none;
	}
}

.button {
	color: white;
	margin: 2rem 0;
}

a {
	color: #337ab7;
	text-decoration: none;
	&:hover {
		color: $blue;
	}
}

header {
	background: $dark_gray;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1.75rem 0;
	border-bottom: 7px solid $blue;
	.header_inner {
		width: 90%;
		margin: 0 auto;
		#logo {
			display: inline-block;
			width: 10rem;
			float: left;
		}
		nav {
			float: right;
				a {
					font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
					text-decoration: none;
					color: white;
					font-size: 1.5rem;
					line-height: 1.5;
					margin-left: 1rem;
					&:hover {
						color: $blue;
				}
			}
		}
	}
}

footer {
	background: $dark_gray;
	width: 100%;
	padding: 2rem 0;
	color: white;
	text-align: center;
	@include bold_font;
	p {
		margin: 0;
		font-size: .85rem;
	}
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	margin-bottom: 1rem;
	border: 1px solid $light_gray;
	border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 40px;
}

textarea {
	min-height: 200px;
}
