#notebooks
	.body {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    border-top-color: initial;
	    border-top-style: initial;
	    border-top-width: 0px;
	    border-right-color: initial;
	    border-right-style: initial;
	    border-right-width: 0px;
	    border-bottom-color: initial;
	    border-bottom-style: initial;
	    border-bottom-width: 0px;
	    border-left-color: initial;
	    border-left-style: initial;
	    border-left-width: 0px;
	    border-image-source: initial;
	    border-image-slice: initial;
	    border-image-width: initial;
	    border-image-outset: initial;
	    border-image-repeat: initial;
	    outline: 0;
	    outline-color: initial;
	    outline-style: initial;
	    outline-width: 0px;
	    font-size: 100%;
	    font: inherit;
	    vertical-align: baseline;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    -webkit-user-select: none;
	    user-select: none;
	    height: 100%;
	

		.html {
		    margin: 0;
		    padding: 0;
		    border: 0;
		    border-top-color: initial;
		    border-top-style: initial;
		    border-top-width: 0px;
		    border-right-color: initial;
		    border-right-style: initial;
		    border-right-width: 0px;
		    border-bottom-color: initial;
		    border-bottom-style: initial;
		    border-bottom-width: 0px;
		    border-left-color: initial;
		    border-left-style: initial;
		    border-left-width: 0px;
		    border-image-source: initial;
		    border-image-slice: initial;
		    border-image-width: initial;
		    border-image-outset: initial;
		    border-image-repeat: initial;
		    outline: 0;
		    outline-color: initial;
		    outline-style: initial;
		    outline-width: 0px;
		    font-size: 100%;
		    font: inherit;
		    vertical-align: baseline;
		    overflow: hidden;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    -webkit-user-select: none;
		    user-select: none;
		    height: 100%;
		}
	}